/* Grundläggande tabellstil */
table {
	border-collapse: collapse;
	/* width: 50%; */
	margin: 1em 0;
	font-size: 1rem;
	text-align: left;
  }
  
  /* Ramar runt tabellen */
  table, th, td {
	border: 1px solid #ddd;
  }
  
  /* Bakgrundsfärg och stil för rubriker */
  th {
	background-color: #333;
	padding: 8px;
	font-weight: bold;
	text-align: center;
  }
  
  /* Cellpadding för tabellceller */
  td {
	padding: 8px;
  }
  
  /* Alternativ bakgrundsfärg för rader */
  tr:nth-child(even) {
	background-color: #222;
  }
  