{{ define "main" }}

	<!-- <red>section</red> -->

	{{ partial "js.html" . }}

	<div>
	
		<h1>{{ .CurrentSection.Title }}</h1>

		{{ partial "breadcrumbs.html" . }}

		{{ if .Params.auto }}
			
			<ul>
			{{ range .CurrentSection.Sections }}
			<li>
			<a href="{{ .RelPermalink }}" >{{ .Title }}</a>
			</li>
			{{ end }}
			</ul>
		
			<ul>
			{{ range .CurrentSection.Resources }}
				<li>
				<a href="{{ .RelPermalink }}" >{{ .Title}}</a>
				</li>
			{{ end }}
			</ul>
		
		{{ end }}
		
		{{ .Content }}
	
	</div>
{{ end }}
