<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ .Title }}</title>
	<link rel="stylesheet" href="{{ "css/style.css" | relURL }}">
	<link rel="stylesheet" href="{{ "css/styles.css" | relURL }}">
  </head>
<body>

	<script>
		function setStorage(key,value){
			document.body.setAttribute(key, value);
			localStorage.setItem(key, value);
		}
		function setDefault(key,value) {
			if (localStorage.getItem(key) == null) {
				setStorage(key,value)
			} else {
				setStorage(key, localStorage.getItem(key))
			}
		}
		setDefault('theme','dark')
		setDefault('fontsize','20px')
		setDefault('font','Helvetica')
	</script>

	<h1>{{ .CurrentSection.Title }}</h1>

	<div> 
		<ul>
		{{ range where .CurrentSection.Sections "Params.hidden" "!=" true}}
			<li>
			<a href="{{ .RelPermalink }}">{{ .Title }}</a>
			</li>
		{{ end }}
		</ul>

{{ .Content }}

	</div>
</body>
</html>
