<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>SrS</title>

	{{ $styles := resources.Get "styles.sass" | resources.ToCSS }}
	<link rel="stylesheet" href="{{ $styles.RelPermalink }}">
	
  </head>
<body>

	<script>
		function setStorage(key,value){
			document.body.setAttribute(key, value);
			localStorage.setItem(key, value);
			console.log(key,value)
		}
		function setDefault(key,value) {
			if (localStorage.getItem(key) == null) {
				setStorage(key,value)
			} else {
				setStorage(key, localStorage.getItem(key))
			}
		}
		setDefault('theme','dark')
		setDefault('fontsize','20px')
		setDefault('font','Helvetica')
	</script>

	<h1>Seniorschack Stockholm</h1>

	<div> 
		<ul>
		{{ range where .CurrentSection.Sections "Params.hidden" "!=" true}}
			<li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
		{{ end }}
		</ul>

		{{ range .Site.Data.meddelanden.rows }}
			{{ if .meddelande }}
				<red>{{ .datum }} • {{ .meddelande }}</red><br>
			{{ end }}
		{{ end }}

		<h3>Turneringar</h3>

		<table>
			<thead>
			  <tr>
				<th>Individ</th>
				<th>Dag</th>
				<th>Typ</th>
			  </tr>
			</thead>
			<tbody>
			{{ range .Site.Data.turneringar.rows }}
				<tr>
					<td>
						{{ if .länk }}
							<a href="{{ .länk }}">{{ .turnering }}</a>
						{{ else}}
							{{ .turnering }}
						{{ end }}
					</td>
					<td>{{ .dag }}</td>
					<td>{{ .typ }}</td>
				</tr>
			{{ end }}
			</tbody>
		</table>

		<table>
			<thead>
			  <tr>
				<th>Lag</th>
			  </tr>
			</thead>
			<tbody>
			{{ range .Site.Data.lagturneringar.rows }}
				<tr>
					<td>
						{{ if .länk }}
							<a href="{{ .länk }}">{{ .turnering }}</a>
						{{ else}}
							{{ .turnering }}
						{{ end }}
					</td>
				</tr>
			{{ end }}
			</tbody>
		</table>

		<h3>Inbjudningar</h3>

		<table>
			<thead>
			  <tr>
				<th>Datum</th>
				<th>Tid</th>
				<th>Typ</th>
				<th>Inbjudan</th>
				<th>Resultat</th>
			  </tr>
			</thead>
			<tbody>
			{{ range .Site.Data.inbjudningar.rows }}
				{{ $today := now.Format "2024-11-29" }}
				{{ $old := lt .datum $today }}
				{{ if $old }}
					<tr style="color:#bbb">
				{{ else }}
					<tr style="color:#fff">
				{{ end }}
					<td>{{ .datum }}</td>
					<td>{{ .tid }}</td>
					<td>{{ .typ }}</td>
					<td style="text-align:left">{{ if .länk }}
						<a href="{{ .länk }}">{{ .inbjudan }}</a>
						{{ else}}{{ .inbjudan }}{{ end }}</td>
					<td>
						{{ if .resultat }}
							<a href="{{ .resultat }}">Resultat</a>	
						{{ end }}
					</td>
				</tr>
			{{ end }}
			</tbody>
		  </table>

		<h3>Föreläsningar • tisdagar 10-12 • Salongerna</h3>

		<table>
			<thead>
			  <tr>
				<th>Datum</th>
				<th>Föreläsning</th>
			  </tr>
			</thead>
			<tbody>
			{{ range .Site.Data.föreläsningar.rows }}
				{{ $old := lt .datum (now.Format "2006-01-02") }}
				{{ if $old }}<tr style="color:#bbb">
				{{ else }}<tr style="color:#fff">{{ end }}
					<td>{{ .datum }}</td>
					<td style="text-align:left">{{ if .länk }}<a href="{{ .länk }}">{{ .föreläsning }}</a>{{ else}}{{ .föreläsning }}{{ end }}</td>
				</tr>
			{{ end }}
			</tbody>
		</table>

	</div>


	<old style="font-size: 0.75em">Uppdaterad: {{ now.Format "2006-01-02 15:04" }} </old>

</body>
</html>
