body {
  display: grid;
  min-height: 100vh; }

table {
  border-collapse: collapse; }

thead:empty {
  display: none; }

th:empty {
  display: none; }

td, th {
  padding: 0.5em; }

ul {
  padding: 0;
  margin: 0 auto;
  list-style-position: inside; }

li {
  margin: 0.5em 0; }

a {
  text-decoration: none;
  margin-top: 0px;
  margin-bottom: 0px; }

body[theme="dark"] {
  background-color: black;
  color: white; }
  body[theme="dark"] a {
    color: yellow; }
  body[theme="dark"] th, body[theme="dark"] td {
    border: 1px solid #fff; }
  body[theme="dark"] th {
    background-color: #777; }
  body[theme="dark"] tr:nth-child(even) {
    background-color: #777; }
  body[theme="dark"] tr:nth-child(odd) {
    background-color: #888; }
  body[theme="dark"] .old {
    color: #bbb; }

body[theme="light"] {
  background-color: white;
  color: black; }
  body[theme="light"] a {
    color: blue; }
  body[theme="light"] th, body[theme="light"] td {
    border: 1px solid #000; }
  body[theme="light"] th {
    background-color: #ddd; }
  body[theme="light"] tr:nth-child(even) {
    background-color: #ddd; }
  body[theme="light"] tr:nth-child(odd) {
    background-color: #eee; }
  body[theme="light"] .old {
    color: #aaa; }

a:hover {
  cursor: pointer; }

body[fontsize="12"] {
  font-size: 12px; }

body[fontsize="14"] {
  font-size: 14px; }

body[fontsize="16"] {
  font-size: 16px; }

body[fontsize="18"] {
  font-size: 18px; }

body[fontsize="20"] {
  font-size: 20px; }

body[fontsize="22"] {
  font-size: 22px; }

body[fontsize="24"] {
  font-size: 24px; }

body[fontsize="26"] {
  font-size: 26px; }

body[fontsize="28"] {
  font-size: 28px; }

body[font='Helvetica'] {
  font-family: 'Helvetica'; }

body[font='Courier New'] {
  font-family: 'Courier New'; }

body[font='Times New Roman'] {
  font-family: 'Times New Roman'; }

h1 {
  margin-top: 0px;
  margin-bottom: 20px; }

table {
  border-collapse: collapse;
  margin: 1em 0;
  margin-top: 10px;
  font-size: 1rem;
  text-align: left; }

th {
  padding-left: 5px;
  padding-right: 5px;
  padding: 8px; }

td {
  padding: 8px; }

sup {
  font-size: 16px; }

.vinjett {
  font-size: 10vh; }

red {
  color: red; }

new {
  color: #0c0; }

blue {
  color: blue; }

old {
  color: gray; }

@media screen {
  body {
    margin: 20px; } }

@media print {
  body {
    margin: 0; } }
